   @import 'https://fonts.googleapis.com/css?family=Roboto+Mono:100';
body{
    background-color: #1E1E21;
}
body * .ara{
font-family: "SF Pro Display", BlinkMacSystemFont, -apple-system, SF UI Text, Helvetica Neue, sans-serif!important;
}
nav{
font-family: "SF Pro Display", BlinkMacSystemFont, -apple-system, SF UI Text, Helvetica Neue, sans-serif!important;
    background-color: #161616;
}
body > div.pricing-header{
    background: linear-gradient(135deg, #959595 25%, transparent 25%) -50px 0, linear-gradient(225deg, #4d4b4b 25%, transparent 25%) -50px 0, linear-gradient(315deg, #dddddd 25%, transparent 25%), linear-gradient(45deg, #838383 25%, transparent 25%);
    background-size: 100px 100px;
    text-shadow: 4px 2px 8px #000;
}
nav a, button, p{
    color: #fff;
}
.nav-link.disabled {
    color: #9b9b9b;
}
.card-body p, .card-body h5{
    text-align: center;
    direction:ltr;
}
svg {
    fill:#fff;
}
div.pricing-header{
    color: #fff;
}
svg.icon{
    background: linear-gradient(45deg, #FD0000, #BA00B4);
}
.ara{
    direction: ltr;
}
nav a[href]:hover{
    color: #9c9c9c;
}

.icon,
.text {
  vertical-align: middle;
  display: inline-block;
}

div.card{
    width: calc(100% - 60px);
}

footer p {
    direction: ltr;
    font-size: medium;
    line-height: 2rem;
    color: fff;
    padding: 0.25em 0em;

    font-family: 'Roboto Mono', monospace;
    text-align: center;

}
footer > p span {
    color: crimson;
}
footer > p a {
    font-family: 'Roboto Mono', monospace;
    text-decoration-line: none;
    color: crimson;
}

@media (hover: none){
    a {
        -webkit-tap-highlight-color: transparent;
    }
    }




.s-footer__top,
.s-footer__bottom {
    max-width : 1080px;
}

.s-footer__block {
    font-size   : var(--text-lg);
    line-height : calc(1.375 * var(--space));
    color       : white;
}

.s-footer__bottom {
    margin-top : var(--vspace-1_25);
    position   : relative;
}
/* ------------------------------------------------------------------- 
 * ## go top
 * ------------------------------------------------------------------- */

.ss-go-top__icon {
    display         : flex;
    background-color: white;
    justify-content : center;
    align-items     : center;
    height          : var(--vspace-1_5);
    width           : var(--vspace-1_5);
    border          : 2px solid var(--color-1);
    border-radius   : 50%;
    margin-right    : 2.2rem;
}

.ss-go-top::after {
    content          : "";
    display          : block;
    background-color : var(--color-border);
    height           : 1px;
    width            : 3.2rem;
    position         : absolute;
    top              : 50%;
    right            : -4.8rem;
}
@media screen and (max-width: 1400px) {
    .ss-go-top {
        right : 0;
    }
}

@media screen and (max-width: 1200px) {
    .s-footer h4 {
        margin-bottom : var(--vspace-0_625);
    }

    .s-footer__top,
    .s-footer__bottom {
        max-width : 800px;
    }
  
@media screen and (max-width: 600px) {

    .ss-go-top {
        right : 2.4rem;
    }
}

@media screen and (max-width: 400px) {
    .ss-go-top {
        right  : 2rem;
        bottom : var(--vspace-1);
    }

    .ss-go-top svg {
        height : var(--vspace-0_5);
        width  : var(--vspace-0_5);
    }

    .ss-go-top__icon {
        height : var(--vspace-1_25);
        width  : var(--vspace-1_25);
    }
}
    position         : absolute;
    bottom           : var(--vspace-0_125);
    right            : -3.2rem;
}

.ss-go-top a {
    display         : flex;
    align-items     : center;
    align-items     : center;
    text-decoration : none;
    border          : 0 none;
    color           : white;
}

.ss-go-top svg {
    height     : var(--vspace-0_625);
    width      : var(--vspace-0_625);
    transition : all 0.3s ease-in-out;
}

.ss-go-top svg path {
    fill : var(--color-1);
}

.ss-go-top {
    z-index          : 2;
    font-size        : 9px;
    font-weight      : 300;
    line-height      : 1;
    text-transform   : uppercase;
    letter-spacing   : .4em;
    transform        : translateY(-360%) rotate(-90deg);
    transform-origin : right bottom;
